langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==1.0.1
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
google-ai-generativelanguage==0.4.0
google-generativeai==0.4.1
openai==1.14.3
python-dotenv==1.0.1
streamlit==1.32.2
tiktoken==0.6.0
faiss-cpu==1.8.0
protobuf==4.23.4